<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <nav id="main-nav">
            <div id="navOptions">
                <a href="{{ url_for('home.home') }}">Home</a>
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    

        {% for message in get_flashed_messages() %}
            <div id="flash">
                {{message}}
            </div>
        {% endfor %}
    </main>
    <footer>
        <p>Luke Weaver | 1937361</p>
    </footer>
</body>

</html>