*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    height:100%;
    font-family: "Open Sans","Myriad Pro",Verdana,sans-serif;
}

header{
    max-height: 15%;
    min-height:10%;
    padding-top:10px;
    background-color:#0055b7;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width:100%;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height:100%;
    width:100%;
}

#navOptions{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    width:100%;
    height:40%;
}

#navOptions > a{
    display: grid;
    border:black solid 1px;
    height:100%;
    width:100%;
    text-align:center;
    align-content: center;
    padding-top:5px;
    padding-bottom:5px;
}

#userDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    border:#002a5a 1px solid;
    width:auto;
    padding:2px;
    margin-right:0.5rem;
    margin-bottom:0.5rem;
}

#userDiv *{
    font-size: smaller;
    margin:2px;
}

#userDiv img{
    max-height:100%;
}

#userPfp{
    max-width:30px;
}

#profilePfp{
    max-width: 100px;
}

tr > *{
    border: black 2px solid;
    text-align: center;
}

.courses, .competencies, .elements, .domains{
    width:80%;
    margin: auto auto;
    padding: 1rem;
}
#course_form, #competency_form{
    display:flex;
    flex-direction: column;
    margin:auto auto;
    width: 80%;
}

.element{
    padding-top: 1rem;
}
.criteria{
    padding-left: 1rem;
}
#error{
    text-align: center;
    padding: 2rem;
}

a{
    text-decoration: none;
}

a:visited{
    color:inherit;
}

main{
    height:80%;
    background-color: #f8f8f8;
    overflow-y: scroll;
}

footer{
    height:10%;
    background-color:#232323;
    color:white;
}
footer p{
    padding-top: 2rem;
    text-align: center;
}

form{
    width:90%;
    margin:5%;
}

form legend{
    font-size: larger;
}

form fieldset{
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: small;
}

form #email, form #password, form #name{
    width:100%;
}

form input[type=submit]{
    width:50%;
    margin-left:25%;
}